<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <table border="3">
        <tr>
            <th>Name:-</th>
            <th>ID:-</th>
            <th>Average:-</th>
            <th>Grade:-</th>
            <th>Marks 1:-</th>
            <th>Marks 2:-</th>
            <th>Marks 3:-</th>
            <th>Marks 4:-</th>
            <th>Marks 5:-</th>
        </tr>
        <% data.forEach(data => { %>
                <tr>
                    <td><%-data.name%></td>
                    <td><%-data.id%></td>
                    <td><%-data.average%></td>
                    <td><%-data.grade%></td>
                    <% data.numbers.forEach((num,idx) => { %>
                        <td><%- num %></td>
                    <% }) %>
                </tr>
        <% }) %>
    </table>
</body>
</html>